Repository REALSDEALS/pcHealth, pull requests merged in 2022-01, with the labels that each got.

#88 Add: Added License Key Grabber
  Documentation/changelog.md
  Documentation/releases.md
  README.md
  Scripts/CMD/pcHealth.bat
Labels: enhancement

#94 Update: Changelog.md
  Documentation/changelog.md
Labels: documentation

#95 Add: Downloadables Function
  Documentation/changelog.md
  Documentation/releases.md
  README.md
  Scripts/CMD/pcHealth.bat
Labels: documentation, enhancement

#96 Update: Visual Representation
  Documentation/changelog.md
  Scripts/CMD/pcHealth.bat
Labels: documentation, enhancement

#99 feat(readme): clarify instructions
  README.md
Labels: documentation
