Repository REALSDEALS/pcHealth, pull requests merged in 2022-08, with the labels that each got.

#120 Add: Update System Functions
  Documentation/changelog.md
  Documentation/releases.md
  README.md
  Scripts/CMD/pcHealth.bat
Labels: enhancement

#121 Tweak: Fixed Issue
  Documentation/changelog.md
  README.md
  Scripts/CMD/pcHealth.bat
Labels: bug, enhancement

#122 Update: Updated Documents - v1.5.4
  Documentation/changelog.md
  Documentation/releases.md
  Scripts/CMD/pcHealth.bat
Labels: documentation

#123 Update: Documentation
  Documentation/changelog.md
Labels: documentation

#125 Add: BIOS-PW
  Documentation/changelog.md
  Documentation/releases.md
  README.md
  Scripts/CMD/pcHealth.bat
Labels: documentation, enhancement

#126 Tweak: Updated Function
  Documentation/changelog.md
  Documentation/releases.md
  Scripts/CMD/pcHealth.bat
Labels: enhancement

#129 Tweak: Small Adjustments
  Documentation/changelog.md
  Documentation/releases.md
  Scripts/CMD/pcHealth.bat
Labels: documentation
