Repository REALSDEALS/pcHealth, pull requests merged in 2025-03, with the labels that each got.

#171 Some big enhancements
  .github/ISSUE_TEMPLATE/bug_report.md
  .gitignore
  Documentation/changelog.md
  Documentation/releases.md
  README.md
  Scripts/CMD/pcHealth.bat
  Scripts/PS1/Get-CPU_GPU_RAM.ps1
  Scripts/VBS/KeyGrabber.vbs
Labels: Documentation, Add, Tweak

#173 Update: Beta Release (v1.8.4)
  Documentation/changelog.md
  Documentation/releases.md
  Scripts/CMD/pcHealth.bat
Labels: Documentation, Add, Update

#172 Changed winget behaviour + Performance improvements
  Documentation/changelog.md
  Scripts/CMD/pcHealth.bat
  Scripts/PS1/Get-CPU_GPU_RAM.ps1
Labels: Documentation, Tweak

#174 Update: Beta Release v1.8.5-beta
  Documentation/changelog.md
  Documentation/releases.md
  Scripts/CMD/pcHealth.bat
Labels: Documentation, Update
